In [1]:
import pandas as pd

In [2]:
data1 = {"Roll_NO":[1, 2, 3, 4, 5], "Age":[23, 19, 20, 18, 15], "Name":["Kirtesh", "Poonam", "Rohit", "Rushi", "Mohit"]}

In [3]:
block = pd.DataFrame(data1)

In [4]:
block

   Roll_NO  Age     Name
0        1   23  Kirtesh
1        2   19   Poonam
2        3   20    Rohit
3        4   18    Rushi
4        5   15    Mohit

In [5]:
data2 = {"ID":[1,2,3,4,5],"Name":["Kirtesh", "Poonam", "Rohit", "Rushi", "Mohit"]}

In [6]:
block2 = pd.DataFrame(data2)

In [7]:
block2

   ID     Name
0   1  Kirtesh
1   2   Poonam
2   3    Rohit
3   4    Rushi
4   5    Mohit

In [8]:
data_merge = block.merge(block2)

In [9]:
data_merge

   Roll_NO  Age     Name  ID
0        1   23  Kirtesh   1
1        2   19   Poonam   2
2        3   20    Rohit   3
3        4   18    Rushi   4
4        5   15    Mohit   5